*
{
    width: 1040px;
}
body
{
    background-color: blueviolet;
}
input
{
    width: 40%;
    margin-left: 30%;
    background-image: url(descarga.jpg);
    color: white;
}
h3
{
    font-size: 13px;
    width: 100%;
    text-align: center;
    height: 30px;
}
h2
{
    width: 100%;
    text-align: center;
    font-size: 17px;
    margin-top: 30px;
}
footer
{
    background-color: gray;
    text-align: center;
}
.boton
{
    width: 80%;
    margin-right: 10%;
    height: 20px;
}
.dia
{
    width: 18.5%;
    border: 1px blue solid;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    float: left;
}
.dias
{
    width: 100%;
    border: 1px rgb(48, 230, 54) solid;
    height: 50px;
    color: tomato;
    background-image: url(bye.jpg);
}
.clase
{
    width: 100%;
    border: 1px rgb(48, 230, 54) solid;
    height: 150px;
    color: thistle;
    background-image: url(hola.jpg);
    position: relative;
}
#cuerpo
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#titulo
{
    width: 100%;
    background-color:gray;
    text-align: center;
    border: 5px yellow inset;

}
#titulo h1
{
    color: aqua;
}
#horario
{
    width: 100%;
    height: 540px;
    background-image: url(hi.jpg);
    border: 5px rgb(169, 169, 150) inset;
}